In [28]:
import pandas as pd
import statsmodels as sm
import matplotlib
import json

In [4]:
df = pd.read_csv("noislamophobia-dataset-50k.csv",low_memory=False)

In [5]:
df.head()

,_id,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,...,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,full_text,truncated,user,withheld_in_countries
0,ObjectId(59dbede4e6e465a2d67a1062),NaN,NaN,Sun Oct 22 10:34:06 +0000 2017,"{""hashtags"":[{""text"":""BanIslam"",""indices"":[93,...",NaN,0,False,NaN,9.220484e+17,...,NaN,4,False,"{""created_at"":""Fri Oct 20 09:33:45 +0000 2017""...","<a href=""http://twitter.com/download/iphone"" r...",RT @Private34349909: @AmyMek @Dab7One 1/ @real...,NaN,False,"{""id"":8.009259051368776e+17,""id_str"":""80092590...",NaN
1,ObjectId(59dbede4e6e465a2d67a106c),NaN,NaN,Sun Oct 22 10:13:40 +0000 2017,"{""hashtags"":[{""text"":""muslim"",""indices"":[16,23...",NaN,0,False,NaN,9.220433e+17,...,NaN,10,False,"{""created_at"":""Sat Oct 21 18:37:07 +0000 2017""...","<a href=""http://twitter.com/download/android"" ...",RT @ensine: All #muslim rulers were savages bc...,NaN,False,"{""id"":375089876,""id_str"":""375089876"",""name"":""‡§¶...",NaN
2,ObjectId(59dbf266e6e465a2d67a4810),NaN,NaN,Sun Oct 22 07:50:47 +0000 2017,"{""hashtags"":[{""text"":""Raqqa"",""indices"":[37,43]...",NaN,0,False,NaN,9.220073e+17,...,NaN,172,False,"{""created_at"":""Fri Oct 20 23:15:45 +0000 2017""...","<a href=""http://twitter.com/download/android"" ...",RT @SLandinSoCal: Liberated Women of #Raqqa‚ÄºÔ∏èR...,NaN,False,"{""id"":7.092975641898926e+17,""id_str"":""70929756...",NaN
3,ObjectId(59dbf266e6e465a2d67a4828),NaN,NaN,Sun Oct 22 10:38:23 +0000 2017,"{""hashtags"":[],""symbols"":[],""user_mentions"":[{...",NaN,0,False,NaN,9.220495e+17,...,NaN,1,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",@Stormtroepen @cdavandaag @sybrandbuma @gertja...,NaN,True,"{""id"":1340408646,""id_str"":""1340408646"",""name"":...",NaN
4,ObjectId(59e8e630e6e465a2d6238c9c),NaN,NaN,Sun Oct 22 08:59:53 +0000 2017,"{""hashtags"":[{""text"":""RT"",""indices"":[51,54]},{...",NaN,0,False,NaN,9.220247e+17,...,NaN,25,False,"{""created_at"":""Sun Oct 22 01:40:55 +0000 2017""...","<a href=""http://twitter.com/download/android"" ...",RT @PoliticalIslam: Sharia at odds with Articl...,NaN,False,"{""id"":150595824,""id_str"":""150595824"",""name"":""üáÆ...","[""DE""]"

In [8]:
print(df.dtypes)

_id                           object
contributors                 float64
coordinates                   object
created_at                    object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
geo                           object
id                           float64
id_str                         int64
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str    float64
in_reply_to_user_id          float64
in_reply_to_user_id_str      float64
is_quote_status                 bool
lang                          object
metadata                      object
place                         object
possibly_sensitive            object
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str         float64
retweet_count                  int64
retweeted                       bool
retweeted_status              object
source                        object
text                          object
full_text                    float64
truncated                       bool
user                          object
withheld_in_countries         object
dtype: object

In [10]:
df.drop(columns=['coordinates', 'geo', 'contributors'], inplace=True)

In [87]:
place_df = df[df["place"].notna()].astype('str')
place_df = place_df["place"]
print(place_df)

94       {"id":"1d68da80ca90416d","url":"https://api.tw...
206      {"id":"53cef5332ac9d7d0","url":"https://api.tw...
638      {"id":"f632697d33274211","url":"https://api.tw...
642      {"id":"5635c19c2b5078d1","url":"https://api.tw...
997      {"id":"a81f9ed24c15d6af","url":"https://api.tw...
                               ...
48145    {"id":"74effb34539b2d64","url":"https://api.tw...
48146    {"id":"74effb34539b2d64","url":"https://api.tw...
48343    {"id":"01693a337224bad0","url":"https://api.tw...
49347    {"id":"07d9e3eb0a486002","url":"https://api.tw...
50162    {"id":"019f39d424818f2b","url":"https://api.tw...
Name: place, Length: 251, dtype: object

In [88]:
places = place_df.apply(json.loads)
print(places.reset_index())

     index                                              place
0       94  {'id': '1d68da80ca90416d', 'url': 'https://api...
1      206  {'id': '53cef5332ac9d7d0', 'url': 'https://api...
2      638  {'id': 'f632697d33274211', 'url': 'https://api...
3      642  {'id': '5635c19c2b5078d1', 'url': 'https://api...
4      997  {'id': 'a81f9ed24c15d6af', 'url': 'https://api...
..     ...                                                ...
246  48145  {'id': '74effb34539b2d64', 'url': 'https://api...
247  48146  {'id': '74effb34539b2d64', 'url': 'https://api...
248  48343  {'id': '01693a337224bad0', 'url': 'https://api...
249  49347  {'id': '07d9e3eb0a486002', 'url': 'https://api...
250  50162  {'id': '019f39d424818f2b', 'url': 'https://api...

[251 rows x 2 columns]

In [92]:
print(places.dtypes)
places_list = places.to_json(orient='index')

object

In [94]:
print(places_list[0])

{